body {
	font-family: Sans-Serif;
	text-align: center;
	color: #606060;
}

#content {
	width: 100%
}

h2 {
	width: 100%
	text-align: center;
	font-size: 1.5em;
	color: #606060;
}

#map {
	width: 100%
}

img {
	width: 100%
}

p {
	font-size: 1em;
	color: #606060;
}
.info {
	font-size: 0.8em;
	color: #606060;
}
.svgTxt {
	font-size: 1.6em;
	fill: #606060;
}

a {
	text-decoration: none;
	color: #606060;
}
hr { width: 60%; color: #606060; }
#logo { width: 80%}
@media screen and (min-width: 600px) {
	h2 { font-size: 1.8em; }
	p { font-size: 1.2em; }
	.info { font-size: 1em; }
	#logo { width: 40%}
}

@media screen and (min-width: 960px) {
	#content {
		width: 960px;
		margin: auto
	}
	h2 { font-size: 2em; }
	p { font-size: 1.4em; }
	.info { font-size: 1em; }
	#logo { width: 20%}
}
